In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw04.ipynb")

# Homework 04: Functions, Histograms, and Groups

Please complete this notebook by filling in the cells provided.

In [ ]:
# Don't change this cell; just run it.
import numpy as np
from datascience import *

import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

**Helpful Resource:**
- [Python Reference](http://data8.org/sp22/python-reference.html): Cheat sheet of helpful array & table methods used in this course.

**Recommended Reading:**

* [Visualizations](https://inferentialthinking.com/chapters/07/Visualization.html)
* [Functions](https://inferentialthinking.com/chapters/08/Functions_and_Tables.html)

For all problems that you must write explanations and sentences for, you **must** provide your answer in the designated space. Moreover, throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook! For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. Otherwise, you will fail tests that you thought you were passing previously!

<div class="alert alert-warning" role="alert"  style="color: black;">
    
### Appropriate collaboration and AI usage

Consult with your teacher and course syllabus for information and policies regarding appropriate collaboration with other students, appropriate use of AI tools, and submission of late work.</div>

<div class="alert alert-danger" role="alert"  style="color: black;">
    
### This homework has hidden tests in it!

Additional tests will be run once your homework is submitted for grading. While you may pass all the tests you have access to before submission, you may not earn full credit if you do not pass the hidden tests as well.

Many of the tests you have access to before submitting only test to ensure you have given an answer that is formatted correctly and/or you have given an answer that *could* make sense in context. For example, a test you have access to while completing the assignment may check that you selected a valid choice for a multiple choice problem (1, 2, or 3) or that your answer is an integer between 0 and 50 if asked to count a subset of states in the United States. The tests that are run after submission will evaluate your work for accuracy. **Do not assume that just because all your tests pass before submission means that your answers are correct!**
</div>

## 1. Coffee Culture in Seattle

Maya, Jordan, and Alex are trying to use Data Science to find the best coffee shops in Seattle! Their friends provided them with two comprehensive datasets on many coffee establishments in the Seattle area.

## `coffee_ratings.csv`
The following cell reads in a table called `ratings` which contains names of coffee shops, their Yelp rating, Google rating, as well as their overall rating. The `Overall` rating is not an average of the `Yelp` and `Google` ratings, but rather it is the overall rating from customers that were surveyed in a local study.

In [ ]:
# Just run this cell
ratings = Table.read_table('coffee_ratings.csv')
ratings

## `coffee_menu.csv`

The following cell reads in a table called `coffee_menu` which contains names of coffee shops in Seattle, their menu items, and the cost of the respective menu item at the shop.

In [ ]:
# Just run this cell
coffee_menu = Table.read_table('coffee_menu.csv').drop(0)  # Drop the index column
coffee_menu

### Question 1.1.

It would be easier if we could combine the information in both tables into a single Table. Assign `coffee` to the result of joining the two tables together, so that we have a table with the ratings for every menu item from every coffee shop. **Each menu item will have the same rating as the shop that made it.** This is not a perfect way to score individual menu items, but it is an assumption we will make because it is the best we can do with the data we have.

<div class="alert alert-warning" role="alert"  style="color: black;">
    
**Note:** it doesn't matter which table you put in as the argument to the `join` method, either order will work for the autograder tests.
</div>

In [ ]:
coffee = ...
coffee

In [ ]:
grader.check("q1_1")

### Question 1.2.

Let's look at how the Yelp scores compare to the Google scores in the `coffee` table. First, assign `yelp_and_google` to a Table only containing the columns `Yelp` and `Google`. Then, make a scatter plot with Yelp scores on the x-axis and the Google scores on the y-axis.

In [ ]:
yelp_and_google = ...
...

In [ ]:
grader.check("q1_2")

<!-- BEGIN QUESTION -->

### Question 1.3.

Looking at the scatter plot you just made in the previous question, do you notice any pattern(s)? Write an explanation about your observations and what it might imply about reviews found on Google and Yelp.

<div class="alert alert-info" role="alert" style="color: black;">

Write your explanation here, replacing this text.

</div>

<!-- END QUESTION -->

### `.group` refresher

In case you need a refresher on how `.group` works, you can read how `.group` works in the [textbook](https://www.inferentialthinking.com/chapters/08/2/Classifying_by_One_Variable.html), or you can use the [Table Functions Visualizer](http://data8.org/interactive_table_functions/) to get some more hands-on experience with the `.group` function.

### Question 1.4.

There are many types of lattes in the `coffee` table! Jordan wants to consider options for lattes based on rankings. Remember, for the sake of these questions, we are treating each menu item's rating the same as its respective shop's, as we do not have the rating of every single item at these shops.

Create a table called `lattes` that contains only the rows from `coffee` where the `Menu_Item` is `'Latte'`. Then create a table called `latte_ratings` with two columns: the first column includes the **names of the coffee shops** and the second column should contain the **average overall rating** of lattes from that shop.

In [ ]:
lattes = ...
latte_ratings = ...
latte_ratings

In [ ]:
grader.check("q1_4")

### Question 1.5.

Given the `latte_ratings` table, Alex can figure out the name of the coffee shop with the highest overall average rating for lattes! Assign `best_latte_shop` to a line of code that evaluates to a string that corresponds to the name of the coffee shop with the highest overall average rating. If multiple shops tie for the highest average, you can output any of them.

In [ ]:
best_latte_shop = ...
best_latte_shop

In [ ]:
grader.check("q1_5")

<!-- BEGIN QUESTION -->

### Question 1.6.

Maya thinks that coffee in Seattle is more expensive than coffee in other cities. Plot a histogram that visualizes the distribution of the costs of the drinks from Seattle in the `coffee` table. Use the provided `cost_bins` variable when making your histogram.

In [ ]:
cost_bins = np.arange(2, 9, 0.5)

In [ ]:
...

<!-- END QUESTION -->

### Question 1.7.

What percentage of drinks in Seattle with reviews cost less than $5? Assign `drinks_less_than_five` to your answer, **which should be between 0 and 100** since it is a percentage, not a proportion. You should estimate this value using the histogram first, and then use code to compute the exact value.

**Hint:** Your solution should probably use the `np.count_nonzero` function.

In [ ]:
drinks_less_than_five = ...
drinks_less_than_five

In [ ]:
grader.check("q1_7")

<!-- BEGIN QUESTION -->

### Question 1.8.

In this analysis, we assumed that each menu item at a coffee shop has the same rating as the shop's overall rating. What are the limitations of this assumption? Can you think of a scenario where this assumption would lead to incorrect conclusions about which specific drink to order?

<div class="alert alert-info" role="alert" style="color: black;">

Write your response here, replacing this text.

</div>

<!-- END QUESTION -->

## 2. Tech Industry Salaries

The following table shows salary information for employees at various tech companies. The data includes their company, age, job title, salary, and department.

In [ ]:
# Just run this cell
tech = Table.read_table('tech_salaries.csv')
tech

### Question 2.1.

Suppose you wanted to know the average age and salary for each job title at each of the tech companies. Set `average_tech_stats` to a Table with 4 columns that shows the average age and salary for each combination of `Company` and `Title` found in the `tech` table. For example, you should be able to determine the average age and salary for a Software Engineer at Google or for a Data Scientist at Amazon by looking at the corresponding row in the Table you create.

**Hint:** Use the `.group` method to create this table.

In [ ]:
average_tech_stats = ...
average_tech_stats

In [ ]:
grader.check("q2_1")

### Question 2.2

The Table that is created using the `.group` method can be a bit long when there are many combinations between the two specified variables, in this case `Company` and `Title`. A `pivot` Table should make for an easier way to look up these averages.

Create a pivot table assigned to `tech_pivot` that has each `Company` for the column labels and a row that corresponds to each unique `Title`. The values in each column should be the average value of `Salary` for each `Title` at that company.

In [ ]:
tech_pivot = ...
tech_pivot

In [ ]:
grader.check("q2_2")

### Question 2.3

Recall that pivot tables can use *any* function to compute the collected value in the table.

Write your own function named `salary_range` that can take in an array of floats (that will represent salaries in our case) and returns the range of the array. The range is the smallest value subtracted from the largest value in that array.

In [ ]:
...
    ...

In [ ]:
grader.check("q2_3")

### Question 2.4

Using your `salary_range` function, create a pivot table called `job_ranges` that shows the salary range for each `Title` at each `Company`.

In [ ]:
job_ranges = ...
job_ranges

In [ ]:
grader.check("q2_4")

<!-- BEGIN QUESTION -->

### Question 2.5.

Write an explanation as to why some of the values might be 0 (or very close to 0) in the `job_ranges` Table you created in the previous question. There may be more than one reason, so think carefully and include as many reasons as you can in your response.

<div class="alert alert-info" role="alert" style="color: black;">

Write your explanation here, replacing this text.

</div>

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

### Question 2.6.

A job seeker looking at the `tech_pivot` table concludes: "Google pays the highest salaries for Software Engineers, so I should definitely work at Google."

What important factors is this person not considering that might affect their decision? What additional data would help them make a more informed choice?

<div class="alert alert-info" role="alert" style="color: black;">

Write your response here, replacing this text.

</div>

<!-- END QUESTION -->

# Submitting your work
You're done with this assignment! Assignments should be turned in using the following best practices:
1. Save your notebook.
2. Restart the kernel and run all cells up to this one.
3. Run the cell below with the code `grader.export(...)`. This will re-run all the tests. Make sure they are passing as you expect them to.
4. Download the file named `hw04_<date-time-stamp>.zip`, found in the explorer pane on the left side of the screen.
5. Upload `hw04_<date-time-stamp>.zip` to the corresponding assignment on Canvas.

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit.

In [ ]:
grader.export(force_save=True)